h1 {
  color:  #336600;
  text-align: center;
}

a {
  color:  #336600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

h2 {
  text-align: center;
}

body {
  background-color: #f2f2f2;
}